Options -Indexes
ErrorDocument 404 /404.php

<IfModule mod_php7>
  php_flag session.use_trans_sid off

  php_value mbstring.func_overload 2
  php_value mbstring.internal_encoding UTF-8
  php_value max_execution_time 360
  php_value max_input_vars 10000
  php_value memory_limit 256M

  php_value allow_url_fopen Off
  php_value open_basedir Off
  php_value register_globals Off
  php_value display_errors Off
  php_value upload_max_filesize 100M
  php_value post_max_size 100M
  php_value realpath_cache_size 4096K
</IfModule>

<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteBase /
  RewriteEngine On
  RewriteCond %{REQUEST_URI} !\?
  RewriteCond %{REQUEST_URI} !\&
  RewriteCond %{REQUEST_URI} !\=
  RewriteCond %{REQUEST_URI} !\.
  RewriteCond %{REQUEST_URI} !\/$
  RewriteRule ^(.*[^\/])$ /$1/ [R=301,L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^([a-z]+)/$ ?c=$1 [L,QSA]
  RewriteRule ^([a-z]+)/([a-z]+)/$ ?c=$1&a=$2 [L,QSA]
</IfModule>

<IfModule mod_dir.c>
  DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_headers.c>
    Header unset ETag
</IfModule>

<ifModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/javascript application/x-javascript
</ifModule>

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault                                      "access plus 1 week"
  # CSS
  ExpiresByType text/css                              "access plus 1 week"
  # Data interchange
  ExpiresByType application/json                      "access plus 0 seconds"
  ExpiresByType application/ld+json                   "access plus 0 seconds"
  ExpiresByType application/vnd.geo+json              "access plus 0 seconds"
  ExpiresByType application/xml                       "access plus 0 seconds"
  ExpiresByType text/xml                              "access plus 0 seconds"
  # Favicon (cannot be renamed!) and cursor images
  ExpiresByType image/x-icon                          "access plus 1 week"
  # HTML components (HTCs)
  ExpiresByType text/x-component                      "access plus 1 week"
  # HTML
  ExpiresByType text/html                             "access plus 1 day"
  # JavaScript
  ExpiresByType application/javascript                "access plus 1 week"
  # Manifest files
  ExpiresByType application/manifest+json             "access plus 1 week"
  ExpiresByType application/x-web-app-manifest+json   "access plus 0 seconds"
  ExpiresByType text/cache-manifest                   "access plus 0 seconds"
  # Media
  ExpiresByType audio/ogg                             "access plus 1 week"
  ExpiresByType image/gif                             "access plus 1 week"
  ExpiresByType image/jpeg                            "access plus 1 week"
  ExpiresByType image/png                             "access plus 1 week"
  ExpiresByType video/mp4                             "access plus 1 week"
  ExpiresByType video/ogg                             "access plus 1 week"
  ExpiresByType video/webm                            "access plus 1 week"
  # Web feeds
  ExpiresByType application/atom+xml                  "access plus 1 hour"
  ExpiresByType application/rss+xml                   "access plus 1 hour"
  # Web fonts
  ExpiresByType application/font-woff                 "access plus 1 week"
  ExpiresByType application/vnd.ms-fontobject         "access plus 1 week"
  ExpiresByType application/x-font-ttf                "access plus 1 week"
  ExpiresByType font/opentype                         "access plus 1 week"
  ExpiresByType image/svg+xml                         "access plus 1 week"
</IfModule>